[global]
workgroup = NIH
netbios name = <%= @hostname.upcase %>
realm = NIH.GOV
security = ads
password server = nih.gov
passdb backend = tdbsam
dedicated keytab file = /etc/krb5.keytab
kerberos method = system keytab
ntlm auth = no
client ntlmv2 auth = yes
client lanman auth = no
lanman auth = no
server string = Samba Server Version %v
log file = /var/log/samba/log.%m
max log size = 50
#Template Last updates 9/9/2017
